.superInput {
  margin: 20px 0 35px;
  /*background: lightpink;*/
  color: black;
  width: 100%;
  border: none;
  background-color: inherit;
  border-bottom: 2px solid rgba(36, 37, 74, 0.5);
  padding: 0 0 5px 15px;
  font-size: 18px;

}

.superInput:focus {
  outline: none;
}

.errorInput {
  border: 3px solid lime;
  background: red;
  margin: 10px;
  color: aquamarine;
}

.error {
  color: red;
  height: 21px;
  margin-left: 10px;
}
