.instruction {
    font-size: 16px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
    padding-bottom: 30px;
}

.error {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px;
    height: 78px;
    color: red;
}

.btn {
    background: #0b0263;
    width: 200px;
    border-radius: 30px;
}

.textBelow {
    text-align: center;
}

.textBelow p {
    padding-top: 20px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
}

.textBelow a {
    display: inline-block;
    padding-top: 20px;
    text-decoration: none;
    color: darkblue;
    margin-bottom: 5px;
}

.forgotForm {
    text-align: center;
}

.iconEmail {
    text-align: center;
}

 .checkText {
    /*padding: 30px 0;*/
    /*font-size: 16px;*/
    /*line-height: 24px;*/
    /*color: #2D2E46;*/
    /*opacity: 0.7;*/

     font-weight: 500;
     font-size: 22px;
     line-height: 33px;
     text-align: center;
     padding: 30px 0;
}